body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://images.hdqwalls.com/wallpapers/iron-man-mask-minimalism-co.jpg);
}

.user-img {
  width: 350px;
  height: 450px;
  object-fit: cover;
  margin: 0px;
}

.read-users{
  width: 350px;
  height: 450px;
  font-size: 19px;
}

.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 25px;
}

.user-hero{
  color: red;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.first-heading{
  text-align: center;
  font-size: 50px;
  color: orange;
}

.create-users{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input{
  width: 30%;
  color: white;
}

.edit-users{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appbar{
  margin-bottom: 25px;
  width: 100%;
}

.icons{
  display: flex;
}

.card-container{
  display: flex;
  height: 860px; 
}

.add-create{
  font-size: 35px;
}